<ng-container *ngFor="let i of [0, 1, 2, 3]">
  <div
    *ngIf="i == index && !loading"
    [@flyInOut]
    [ngClass]="'background div' + i"
  ></div>
</ng-container>
<div *ngIf="loading" class="background div0"></div>

<div class="block2">
  <!-- <angular-image-slider [images]="imagesUrl"></angular-image-slider> -->
  <div id="top_nav" style="margin-top: 5%; margin-left: 500px;">
    <ul>
      <li class="mainMenu-itemLevel1">
        <a href="" class="active">HOME</a>
      </li>
      <li class="mainMenu-itemLevel1">
        <a href="">ABOUT US</a>
      </li>
      <li class="mainMenu-itemLevel1">
        <a href="">JOBS</a>
      </li>
      <li class="mainMenu-itemLevel1">
        <a href="">CLIENTS</a>
      </li>
      <li class="mainMenu-itemLevel1">
        <a href="">EMPLOYERS</a>
      </li>
      <li class="mainMenu-itemLevel1">
        <a href="">CONTACT US</a>
      </li>
    </ul>
  </div>



  <div style="margin-left: 100px;margin-top: 10%;">
    <h1>I'm looking for ..</h1>
    <div>


      <form class="form-inline" >
        <input
          style="width: 700px;"
          class="form-control mr-sm-2"
          type="text"
          placeholder="Enter a job Description"
          aria-label="Search"
        />
        <button class="btn btn-primary" style="margin-left: 2%;">
          <i class="fa fa-search"></i>
          <span style="margin-left: 5px;">Search</span>
        </button>
      </form>
      <form class="form-inline" style="color: white;">
        <div class="form-group col-md-2">
          <input
            class="form-check-input"
            type="checkbox"
            id="inlineCheckbox1"
            value="option1"
          />
          <label class="form-check-label" for="inlineCheckbox1">
            Full Time</label
          >
        </div>
        <div class="form-group col-md-3" style="margin-left: 10px;">
          <input
            class="form-check-input"
            type="checkbox"
            id="inlineCheckbox2"
            value="option2"
          />
          <label class="form-check-label" for="inlineCheckbox2"
            >Part Time/Casual/Freelancer</label
          >
        </div>
        <div class="form-group col-md-4">
          <select id="inputState" class="form-control">
            <option selected>Location</option>
            <option>...</option>
          </select>
        </div>


        <div  style="margin-bottom: 15%;display: hidden;">
          <span style="visibility: hidden;">sxasx</span>
        </div>
      </form>


      <div>


      </div>

    </div>

    <div style="text-align: center;">
    <button  type="button"
    class="btn btn-primary"
    data-toggle="modal"  style="margin-bottom: 3%;text-align: center"
    data-target="#exampleModal">Register</button>
  </div>
  </div>
  <div class="block">
    <h3 class="text-center" style="text-align: center;">We're leaders in</h3>
    <h2 style="text-align: center;">Creative Digital Recruitment</h2>
    <div style="width: 15%; color: blue; text-align: center; margin-left: 43%;">
      <hr />
    </div>
    <p style="text-align: center;">
      Based in Surry Hills, the creative hub of Sydney wo are surrounded by
      creativity <br />and that reflects on the typo of Jobs wo recruit for.
    </p>
    <div style="text-align: center; margin-top: 5%; margin-bottom: 2%;">
      <button class="button button2" style="text-align: center;">
        Find More About Us
      </button>
    </div>
  </div>

  <div class="footer2">
    <div class="text-center">Subscribe to Our Job Seeker Mailing List</div>
    <div class="text-center" style="margin-top: 2%;">
      <span style="text-align: center;">
        <input
          type="text"
          class="form-control1"
          placeholder="Enter your Email Address "
        />
        <i class="fa fa-envelope-o" style="color: blue;"></i>
      </span>
    </div>
  </div>
  <footer>
    <p>
      <i
        class="fa fa-envelope-o fa-2x"
        style="padding-right: 5px; color: blue;"
      ></i>
      <input type="text" class="form-control2" />
    </p>
    <span>
      <span>
        Copyright <i class="far fa-copyright"></i> 2014 Two Bytes Consulting
        <b>Terms & Polices</b>
      </span>
      <span style="float: right;">
        <span><i class="fab fa-twitter-square fa-2x"></i></span>
        <span style="margin-left: 20px;"
          ><i class="fab fa-facebook-square fa-2x"></i
        ></span>
      </span>
    </span>
  </footer>

  <div
    class="modal fade"
    id="exampleModal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header" style="background-color: blue;">
          <h4 class="modal-title" id="exampleModalLabel">Register</h4>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form [formGroup]="signUpForm" (ngSubmit)="postData(signUpForm)">
            <div class="modal-body">
              <div class="col-sm-3 col-md-3">
                <br />






              </div>
              <div class="col-md-12">
                <br />
                <div>
                  <div class="row">
                    <div class="col-xs-6 col-md-6">
                      <input
                        type="text"
                        class="form-control col-xl-3"
                        placeholder="First Name"
                        formControlName="firstname"
                      />
                    </div>
                    <div class="col-xs-6 col-md-6">
                      <input
                        type="text"
                        class="form-control col-md-6"
                        placeholder="last Name"
                        formControlName="lastname"
                      />
                    </div>
                  </div>
                </div>
                <br />
                <div class="form-group">
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Email"
                    formControlName="email"
                  />
                </div>

                <div class="form-group">
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Mobile"
                    formControlName="mobile"
                  />
                </div>

               

                <div class="row">
                  <div class="col-xs-1 col-md-1">
                    <label for="formControlRange">Age</label>
                  </div>
                  <div class="col-xs-9 col-md-9">
                    <input
                      type="range"
                      class="form-control-range"
                      [min]="18"
                      [max]="100"
                      [value]="age"
                      name="range"
                      (input)="age = $event.target.value"
                      formControlName="age"
                    />
                  </div>
                  {{ age }}
                </div>

                <div class="row">
                  <div class="col-xs-1 col-md-1">
                    <label for="formControlRange"></label>
                  </div>
                  100
                  <div class="col-xs-9 col-md-9">18</div>
                </div>

                <div style="margin-top: 1%;">
                  <select
                    class="hideLabel form-control"
                    formControlName="country"
                  >
                    <option *ngFor="let k of countryList">
                      {{ k.label }}
                    </option>
                  </select>
                </div>
                <div style="margin-top: 3%; margin-bottom: 2%;">
                  <select
                    class="hideLabel form-control"
                    formControlName="state"
                  >
                    <option *ngFor="let k of stateList">
                      {{ k.label }}
                    </option>
                  </select>
                </div>

                <mat-accordion style="margin-top: 2%;">
                  <mat-expansion-panel>
                    <mat-expansion-panel-header class="mat-row">
                      <span class="mat-cell">Address</span>
                    </mat-expansion-panel-header>
                    <mat-accordion lass="mat-table">
                      <mat-expansion-panel>
                        <mat-expansion-panel-header>
                          <div>Home</div>
                        </mat-expansion-panel-header>
                        <div>
                          <input
                            matInput
                            formControlName="homeAddress1"
                            class="form-control"
                            placeholder=" Home Address1"
                          />
                        </div>
                        <div style="margin-top: 2%;">
                          <input
                            matInput
                            formControlName="homeAddress2"
                            class="form-control"
                            placeholder=" Home Address2"
                          />
                        </div>
                      </mat-expansion-panel>

                      <mat-expansion-panel>
                        <mat-expansion-panel-header>
                          <div>Company</div>
                        </mat-expansion-panel-header>
                        <div>
                          <div>
                            <input
                              matInput
                              formControlName="companyAddress1"
                              class="form-control"
                              placeholder="company Address1"
                            />
                          </div>
                          <div style="margin-top: 2%;">
                            <input
                              matInput
                              formControlName="companyAddress2"
                              class="form-control"
                              placeholder="company Address2"
                            />
                          </div>
                        </div>
                      </mat-expansion-panel>
                    </mat-accordion>
                  </mat-expansion-panel>
                </mat-accordion>

                <mat-form-field
                  class="example-chip-list"
                  style="margin-top: 2%;"
                >
                  <mat-chip-list
                    #chipList
                    aria-label="tags selection"
                    formControlName="hobbies"
                  >
                    <mat-chip
                      *ngFor="let tags of hobbies.value"
                      [selectable]="selectable"
                      [removable]="removable"
                      (removed)="remove(tags)"
                    >
                      {{ tags }}
                      <mat-icon matChipRemove *ngIf="removable"
                        >cancel</mat-icon
                      >
                    </mat-chip>
                    <input
                      placeholder="Tags"
                      [matChipInputFor]="chipList"
                      [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                      [matChipInputAddOnBlur]="addOnBlur"
                      (matChipInputTokenEnd)="add($event)"
                    />
                  </mat-chip-list>
                </mat-form-field>

                <div>
                  <label class="checkbox-inline">
                    <input
                      type="checkbox"
                      value="true"
                      formControlName="box"
                    />subscribe Our News Letter
                  </label>
                </div>
              </div>
              <!-- <input
              type="text"
              class="form-control col-xl-3"
              placeholder="First Name"
              formControlName="firstname"
              style="margin-left: 2.9%;"
            /> -->
            </div>

            <div></div>
          </form>
        </div>
        <div class="modal-footer">
          <button
            type="Submit"
            class="btn btn-primary"
            [disabled]="!signUpForm.valid"
            (click)="addMember(signUpForm.value)"
          >
            Submit
          </button>
          <button type="button" class="btn btn-default" data-dismiss="modal">
            Close
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
